.search-box {
  border: none;
  outline: none;
  padding: 10px;
  width: 150px;
  line-height: 30px;
  margin-bottom: 30px;
}
.radio-boxes {
  display: flex;
  justify-content: center;
}
.radio-box {
 
  width: fit-content;
  text-align: center;
}
.radio-box  p{
  display: inline-block

}